/Bishop.class
/Chessboard.class
/IDandPassword.class
/King.class
/Knight.class
/Login.class
/Main.class
/Pawn.class
/Piece.class
/Queen.class
/Rook.class
/Square.class
/Chessboard$1.class
/Move.class
/Chessboard$2.class
/Chessboard$3.class
/Chessboard$4.class
/Chessboard$5.class
/RegisterationForm.class
/DataHistory.class
/Player.class
/Game.class
/Move$1.class
/Move$2.class
/Move$3.class
/Move$4.class
/User.class
/Score.class
/Page.class
/Data.class
/GUI.class
/Player$1.class
